<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atayilmaz Web Solutions</title>
    <link href="https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <!-- Navbar -->
    <section id="navbar">
        <div class="container">
            <div class="brand">Atayilmaz Web Solutions</div>
            <div class="navigation">
                <ul class="nav-bar">
                    <li class="nav-item"><a to="our-services">Our Services</a></li>
                    <li class="nav-item"><a to="/references">References</a></li>
                    <li class="nav-item"><a to="/blog">Blog</a></li>
                    <li class="nav-item"><a to="contact-us">Contact Us</a></li>
                    <li class="nav-item"><a to="/about-us">About Us</a></li>
                </ul>
            </div>
            <div class="actions">
                <a class="language" to="/localization">TR</a>
                <a class="apply" to="/contact-us">Apply Now</a>
            </div>
        </div>
    </section>
    <!-- Navbar END -->
    <!-- Home -->
    <section id="home">
        <div class="container">
            <div class="col-6">
                <h1>Vizyonumuz</h1>
                <p>Amacımız kaliteli, güvenli, yeniliğe açık, ve kullanıcı dostu websiteleri üretmektir.</p>
                <button class="btn">Detaylar</button>
            </div>
            <div class="col-6">
                <img src="./main.png"/>
            </div>
        </div>
    </section>
    <!-- Home END -->
    <!-- Solutions -->
    <section id="solutions">
        <div class="container">
            <div class="item">
                <div class="col-6">
                    <img src="./400x300.png"/>     
                </div>
                <div class="col-6">
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam dolorem iure maiores laudantium commodi doloremque ex, fuga, unde, illum a impedit facilis ducimus. Corrupti quo ex, minus eos sunt aut!
                    Perspiciatis elige Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, ipsam.</p> 
                </div>
            </div>
            <div class="item">
                <div class="col-6">
                    <img src="./400x300.png"/>     
                </div>
                <div class="col-6">
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam dolorem iure maiores laudantium commodi doloremque ex, fuga, unde, illum a impedit facilis ducimus. Corrupti quo ex, minus eos sunt aut!
                    Perspiciatis elige Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, ipsam.</p> 
                </div>
            </div>
            <div class="item">
                <div class="col-6">
                    <img src="./400x300.png"/>     
                </div>
                <div class="col-6">
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam dolorem iure maiores laudantium commodi doloremque ex, fuga, unde, illum a impedit facilis ducimus. Corrupti quo ex, minus eos sunt aut!
                    Perspiciatis elige Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, ipsam.</p> 
                </div>
            </div>
        </div>
    </section>
    <!-- Solutions END -->
    </body>
</html>